<!DOCTYPE html>
<html>
 
<head>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <title>Şifreleme</title>
  <style>
    a button {
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      background-color: #24b34a;
      border-radius: 10%;
      border: 1px solid black;
      color: #fff;
    }
    video { object-fit: fill; }
    </style>
</head>


<body>
  <a href="/"><button style="background-color: #0ccf00; cursor:pointer;">&larr; Geri dön!</button></a>
  <p id="bilgi" style="font-size: 71px; font-weight: bold; padding-left: 30px; padding-right: 30px"></p>
  <a style="position: absolute; left: 35px; width: 250px;" href='/static/data/127.0.0.1.key'><button style="cursor:pointer;">Anahtar dosyasını indirmek için tıklayınız <svg style="width: 10%; height:15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zM432 456c-13.3 0-24-10.7-24-24s10.7-24 24-24s24 10.7 24 24s-10.7 24-24 24z"/></svg></button></a>
  <video width="100%" height="900" controls style="padding-left: 30px; padding-right: 30px; ">
    <source src="/static/data/127.0.0.1.mp4" type="video/mp4">
    Tarayıcınız video oynatmayı desteklememktedir.
  </video>

</body>
</html>