.card {
    border:none;
    background: -webkit-linear-gradient(90deg, rgb(50, 50, 50), #165594, rgb(20, 0, 120));
    background: linear-gradient(90deg, rgb(50, 50, 50), #165594, rgb(20, 0, 120));
    border-radius: 5%;
    z-index:0;
    padding:5px;
    width: 600px;
    height: 260px;
    /*background: linear-gradient(0.5turn, #707f91, #0342a6, #0073ff);  */
    padding: 10px 30px 40px;
  }
  
  .card h3 {
    font-size: 22px;
    font-weight: 600;
    
  }